//eliminar todas las carpetas menos 1
/Dashboard/
/img/
.modell
.version
xampp/.modell-usb
phpinfo.php
favicon.ico
index.php
bitnami.css
applications.html
dwes01/ejercicio3/datos.csv
dwes01/ejercicio4/datos.csv
dwes01/.idea/dwes01.iml
dwes01/.idea/php.xml
dwes01/.idea/vcs.xml
dwes01/.vscode/settings.json
dwes01/.idea/modules.xml
dwes01/.idea/.gitignore
dwes01/.idea/inspectionProfiles/Project_Default.xml
