//eliminar todas las carpetas menos 1
/Dashboard/
/img/
.modell
.version
xampp/.modell-usb
phpinfo.php
favicon.ico
index.php
bitnami.css
applications.html
dwes01/ejercicio3/datos.csv
dwes01/ejercicio4/datos.csv
