body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detallesUsuario {
    border: 3px solid black;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
}

.detallesUsuario td {
    margin: 15px;
    padding: 15px;
    border: 3px solid black;
}

.detallesUsuario td:nth-child(1) {
    background-color: darksalmon;
    font-weight: bold;
}

.detallesUsuario td span {
    font-style: italic;
}

.seguimientos {
    border: 3px solid black;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 30px;
}

.seguimientos td {
    margin: 15px;
    padding: 15px;
    border: 3px solid black;
}

.seguimientos thead th {
    background-color: darksalmon;
    font-weight: bold;
    border: 3px solid black;
    border-collapse: separate;
}

.sinRegistros {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.botonSeguimiento, .botonContactado {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 2px;
    font-weight: bold;
}

.nuevoSeguimiento {
    font-size: 16px;
    font-weight: bold;
}

.nuevoSeguimiento input {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.nuevoSeguimiento select {
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.nuevoSeguimiento input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 0 auto;

}

.volverAtras {
    background-color: darkgoldenrod;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items:self-end;
}

